path+=/usr/local/bin/

# Add global python site-packages
for version in /usr/local/lib/python*; do
    path+=$version/site-packages
done

# Add user python site-packages
for version in ~/Library/Python/*; do
    path+=$version/lib/python/site-packages
done

# Setup pyenv dirs
if type pyenv >/dev/null; then
    path+=$(pyenv root)/shims

    for version in $(pyenv root)/versions/*; do
        path+=$version/bin/
    done
fi

path+=~/.asdf/shims/
path+=${KREW_ROOT:-$HOME/.krew}/bin

export PATH

# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/derekbunch/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/derekbunch/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/Users/derekbunch/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/derekbunch/google-cloud-sdk/completion.zsh.inc'; fi
