function iterm2_print_user_vars() {
  iterm2_set_user_var gitStatus "$(getGitStatus)"
}

function getGitStatus {
  if [[ $(git status 2> /dev/null) = "" ]]; then
    echo "$(topDir)"
  else
    echo "$(getGitProjectDir)$(topDir) git:($(getGitBranch))$(isGitBranchDirty)"
  fi
}

function getGitProjectDir {
  basename $(git rev-parse --show-toplevel 2> /dev/null ) 2> /dev/null
}

function topDir {
  if [[ $(basename $(pwd)) = $(getGitProjectDir) ]]; then
   echo ""
  else
   echo "/$(basename $(pwd))"
  fi
}

function getGitBranch {
  basename $(git branch 2> /dev/null | grep \* | cut -c3-) 2> /dev/null
}

function isGitBranchDirty {
  [[ $(git diff --shortstat 2> /dev/null | tail -n1) != "" ]] && echo "⚡ "
}