#================================================
# *               General
#================================================
export FZF_BASE=~/.fzf
export ZSH_TMUX_UNICODE=true
export ZSH_TMUX_CONFIG="$BOOTSTRAP_ENV_PATH/zinit_rcs/.tmux.conf"
export QMK_HOME=~/.qmk_firmware
export NVM_DIR="$HOME/.nvm"
# export PYENV_ROOT="$HOME/.pyenv"
export TOUCHBAR_GIT_ENABLED=true
export VSCODE=code-insiders
export ZSH_AUTOSUGGEST_USE_ASYNC=true
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)
#------------------------------------------------

#================================================
# *               Recharge
#================================================
export CLOUDSDK_PYTHON=python3
export VAULT_ADDR="https://vault.infra.rechargeapps.net"
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
#------------------------------------------------
