#----Functions-------------
function openrc() {
  readonly filename=${1:?"Which rc file would you like to open?"}
  rc_file=${filename}'.rc'
  code-insiders ~/Bootstrap-Environment/personal-config/${rc_file}
}

function openrcv() {
  readonly filename=${1:?"Which rc file would you like to open?"}
  rc_file=${filename}'.rc'
  vim ~/Bootstrap-Environment/personal-config/${rc_file}
}

function countfiles() {
  readonly filetype=${1:?"Please provide a filetype"}
  find . -type f -name \*.$filetype | wc -l
}

function lsgrep() {
  ls | grep $1
}

function tar_progress() {
  local tar_file=${1:?"Please provide a tar file to write to"}
  local folder=${2:?"Please provide files to tar"}
  tar cf - $folder -P | pv -s $(du -sb $folder | awk '{print $1}') | gzip >"$tar_file"
}
